{% extends 'base.html' %}

{% block title %} Установка пароля после сброса {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto mb-3">
        {% if validlink %}
        <h3>Установить новый пароль</h3>
        <form method="POST" action="" class="row g-3">
            <div class="mb-3">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-info col-md-2">Сохранить</button>
        </form>
        {% else %}
        <h3>Ссылка больше не действительна!</h3>
        <p><a href="{% url 'password_reset' %}">Запросите сброс пароля еще раз</a></p>
        {% endif %}
    </div>
    <div class="col-md-8 mx-auto">
        <hr>
        <a href="{% url 'rides_all'%}" role="button" class="btn btn-info">Посмотреть все заказы</a>
        <a href="{% url 'start' %}" role="button" class="btn btn-info">Все недели</a>
    </div>
</div>
{% endblock %}