{% extends 'base.html' %}

{% block title %}Вы изменили пароль{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto mb-3">
            <hr>
            <h3>Письмо с инструкциями по восстановлению пароля отправлено</h3>
            <p>
                Мы отправили вам инструкцию по установке нового пароля на указанный адрес<br>электронной почты (если в нашей базе данных есть такой адрес).<br>
                Вы должны получить ее в ближайшее время.
            </p>
            <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес<br>с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
        </div>
        <div class="col-md-8 mx-auto">
        <hr>
        <a href="{% url 'rides_all'%}" role="button" class="btn btn-info">Посмотреть все заказы</a>
        <a href="{% url 'start' %}" role="button" class="btn btn-info">Все недели</a>
    </div>
    </div>
{% endblock %}