{% extends 'base.html' %}

{% block title %}Вы изменили пароль{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto mb-3">
            <h3>Вы успешно изменили пароль для пользователя:</h3>
            <h4>{{ user.username }}</h4>
        </div>
        <div class="col-md-8 mx-auto">
        <hr>
        <a href="{% url 'rides_all'%}" role="button" class="btn btn-info">Посмотреть все заказы</a>
        <a href="{% url 'start' %}" role="button" class="btn btn-info">Все недели</a>
    </div>
    </div>
{% endblock %}
