{% extends 'base.html' %}

{% block title %}Вы сбросили пароль{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto mb-3">
            <hr>
            <h3>Пароль успешно сброшен!</h3>
            <p>
                Теперь Вам нужно совершить <a href="{% url 'login'%}" >вход</a> используя новый пароль.
            </p>
        </div>
        <div class="col-md-8 mx-auto">
        <hr>
        <a href="{% url 'rides_all'%}" role="button" class="btn btn-info">Посмотреть все заказы</a>
        <a href="{% url 'start' %}" role="button" class="btn btn-info">Все недели</a>
    </div>
    </div>
{% endblock %}