{% extends 'base.html' %}

{% block title %} Регистрация пользователя {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto mb-3">
        <h3>Регистрация нового пользователя</h3>
        <form method="POST" action="" class="row g-3">
            <div class="mb-3">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-info">Зарегистрировать</button>
            </div>
        </form>
    </div>
    <div class="col-md-8 mx-auto">
        <hr>
        <a href="{% url 'rides_all'%}" role="button" class="btn btn-info">Посмотреть все заказы</a>
        <a href="{% url 'start' %}" role="button" class="btn btn-info">Все недели</a>
    </div>
</div>
{% endblock %}