{% extends "base.html" %}

{% block title %} Водитель всего {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7 mx-auto mb-3">
        <form method="POST">
            <div class="mb-3">
                {% csrf_token %}
                {{ form }}
            </div>
            <button type="submit" class="btn btn-info">Поездки за неделю</button>
        </form>
        <hr>
        {% if result %}
        <h3>Водитель всего за неделю</h3>
        <table class="table">
            <tr>
                <th>Смена: </th>
                <th>Заказ: </th>
                <th>Сумма: </th>
                <th>Водитель: </th>
                <th>Автомобиль: </th>
                <th>Наличные: </th>
            </tr>
            {% for obj in result %}
            <tr >
                <td>{{ obj.shift }}:</td>
                <td>{{ obj.number }}:</td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.driver }}</td>
                <td>{{ obj.car }}</td>
                <td>{{ obj.cash }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="col-md-7 mx-auto">
        <a href="{% url 'new_ride'%}" role="button" class="btn btn-info">Добавить еще заказ</a>
        <a href="{% url 'rides_all'%}" role="button" class="btn btn-info">Посмотреть все заказы</a>
    </div>
</div>

{% endblock %}