{% extends "base.html" %}

{% block title %} Заказы машины за неделю {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto mb-5">
        <h3>Выбрать другую неделю для [ {{ car }} ]:</h3>
        {% for obj in weeks %}
            <span><a href="{% url 'total_week_car' car obj %}">{{ obj }}</a>&nbsp|&nbsp</span>
        {% endfor %}
    </div>
    <div class="col-md-10 mx-auto mb-3">
        <h3>Заказы [{{ car }}] за [{{ week }}] неделю:</h3>
        <table class="table">
            <tr>
                <th>Неделя</th>
                <th>Дата</th>
                <th>Заказ: </th>
                <th>Сумма: </th>
                <th>Наличные: </th>
                <th>Водитель: </th>
                <th>Автомобиль: </th>
                <th>Покупка смены: </th>
                <th>Доп.комиссия: </th>
                <th>Режим: </th>
                <th>ЗСД: </th>
                <th>Чаевые: </th>
                <th>Коммент: </th>
            </tr>
            {% for obj in rides %}
            <tr >
                <td>{{ obj.shift.week }}</td>
                <td>{{ obj.shift }}</td>
                <td><a href="{% url 'ride_detail' obj.shift.week obj.number obj.driver %}">{{ obj.number }}</a></td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.cash }}</td>
                <td>{{ obj.driver }}</td>
                <td>{{ obj.car }}</td>
                <td>{{ obj.save_tax }}</td>
                <td>-{{ obj.tax_result }}</td>
                <td>{{ obj.extra_tax }}</td>
                <td>{{ obj.toll }}</td>
                <td>{{ obj.tip }}</td>
                <td>{{ obj.comment }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'new_ride' week %}" role="button" class="btn btn-info">Добавить заказ</a>
        <a href="{% url 'rides_all'%}"role="button" class="btn btn-info" >Посмотреть все заказы</a>
        <a href="{% url 'week_reports' week %}" role="button" class="btn btn-info">Отчеты за неделю</a>
    </div>
</div>

{% endblock %}