{% extends "base.html" %}

{% block title %}Ошибка{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        Невозможно отправить отчет:<br>
        Нет поездок на указанном авто за указанную дату
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'new_ride'%}" role="button" class="btn btn-info">Добавить заказ</a>
        <a href="#" role="button" class="btn btn-info">Завершить смену</a>
        <a href="{% url 'rides_all'%}"role="button" class="btn btn-info" >Посмотреть все заказы</a>
    </div>
</div>

{% endblock %}