{% extends "base.html" %}

{% block title %}Ошибка{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        Невозможно запланировать смену:<br>
        {{ warning }}
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'new_ride'%}" role="button" class="btn btn-info">Добавить заказ</a>
        <a href="{% url 'rides_all'%}"role="button" class="btn btn-info" >Посмотреть все заказы</a>
        <a href="{% url 'week_reports' week %}" role="button" class="btn btn-info">Отчеты за неделю</a>
        <a href="{% url 'plan_all' week %}" role="button" class="btn btn-info">План на неделю</a>
    </div>
</div>

{% endblock %}