{% extends "base.html" %}

{% block title %} Добавить заказ {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h3>Добавление нового заказа:</h3>
        <form method="POST" action="" class="row g-3">
            <div class="mb-3">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-info col-md-2">Сохранить</button>
        </form>
    </div>

    <div class="col-md-8 mx-auto">
        <hr>
        <a href="{% url 'rides_all'%}" role="button" class="btn btn-info">Посмотреть все заказы</a>
        <a href="{% url 'week_reports' week %}" role="button" class="btn btn-info">Отчеты за неделю</a>
    </div>
</div>

{% endblock %}