{% extends "base.html" %}

{% block title %} Все отчеты {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h3>Все отчеты:</h3>
        <table class="table">
            <tr >
            {% for obj in reports %}
                <td><a href="{% url 'total_day_driver' obj.driver obj.day %}" role="button" class="btn btn-info">{{ obj.car }}</a></td>
            {% endfor %}
            </tr>
        </table>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'new_ride'%}" role="button" class="btn btn-info">Добавить заказ</a>
        <a href="#" role="button" class="btn btn-info">Завершить смену</a>
        <a href="{% url 'rides_all'%}"role="button" class="btn btn-info" >Посмотреть все заказы</a>
    </div>
</div>

{% endblock %}