{% extends "base.html" %}

{% block title %}План смен на неделю{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h3>План смен на неделю {{ week }}:</h3>
    </div>
     <div class="col-md-3 offset-md-1">
        <div class="card">
            <h3 class="card-header">Выбрать неделю:</h3>
            <div class="card-body">
                <form method="POST" action="" class="row g-3">
                    <div class="mb-1">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-info col-md-5">Выбрать</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto mb-3">
        <div>
            {% for key, value in plans %}
                {{ key }}
                <div>
                    {% if value %}
                        {% for i in value %}
                            <div class="btn-group-vertical">
                                <a href="{% url 'total_day_driver' i.plan_driver i.plan_day %}" role="button" class="btn btn-secondary">{{ i.plan_car }}<br>{{ i.plan_driver }}</a>
                                <div class="btn-group" role="group">
                                    <a href="{% url 'plan_change' week i.plan_driver i.plan_day %}" role="button" class="btn btn-warning mr-1">...</a>
                                    <a href="{% url 'del_plan' i.plan_driver i.plan_day %}" role="button" class="btn btn-danger mr-1">X</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'plan' week %}" role="button" class="btn btn-primary">Запланировать смену</a>
        <a href="{% url 'new_ride'%}" role="button" class="btn btn-info">Добавить заказ</a>
        <a href="{% url 'rides_all'%}"role="button" class="btn btn-info" >Посмотреть все заказы</a>
        <a href="{% url 'week_reports' week %}" role="button" class="btn btn-info">Отчеты за неделю</a>
        <a href="{% url 'start'%}" role="button" class="btn btn-info">Все недели</a>
    </div>
</div>

{% endblock %}