{% extends "base.html" %}

{% block title %} Изменить заказ {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h3>Редактирование заказа {{ ride }}:</h3>
        <form method="POST" action="">
            <div class="mb-3">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-info">Сохранить</button>
        </form>
    </div>
    <div class="col-md-8 mx-auto">
        <br>
        <a href="{% url 'rides_all'%}">Посмотреть все заказы</a><br>
        <a href="{% url 'total_day_car'%}">Итого за смену</a><br>
    </div>
</div>

{% endblock %}