{% extends "base.html" %}

{% block title %} Заказ добавлен! {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h3>Заказ сохранен:</h3>
        Сумма: {{ ride.price }}<br>
        Водитель: {{ ride.driver }}<br>
        Автомобиль: {{ ride.car }}<br>
        Наличные: {{ ride.cash }}<br>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'new_ride' week %}" role="button" class="btn btn-info">Добавить еще заказ</a>
        <a href="{% url 'rides_all'%}"role="button" class="btn btn-info" >Посмотреть все заказы</a>
        <a href="{% url 'total_day_driver' ride.driver ride.shift %}" role="button" class="btn btn-info">Отчет за смену</a>
    </div>
</div>

{% endblock %}