{% extends "base.html" %}

{% block title %} Все заказы {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h3>Все заказы:</h3>
        <table class="table">
            <tr>
                <th>Неделя</th>
                <th>Дата</th>
                <th>Заказ: </th>
                <th>Сумма: </th>
                <th>Наличные: </th>
                <th>Водитель: </th>
                <th>Вод.Стат:</th>
                <th>Автомобиль: </th>
                <th>A/M Стат:</th>
                <th>Покупка смены: </th>
                <th>Доп.комиссия: </th>
                <th>Режим: </th>
                <th>ЗСД: </th>
                <th>Чаевые: </th>
                <th>Коммент: </th>
            </tr>
            {% for obj in rides %}
            <tr >
                <td>{{ obj.shift.week }}</td>
                <td>{{ obj.shift }}</td>
                <td><a href="{% url 'ride_detail' obj.shift.week obj.number obj.driver %}">{{ obj.number }}</a></td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.cash }}</td>
                <td>{{ obj.driver }}</td>
                <td><a href="{% url 'total_day_driver' obj.driver obj.shift %}">День</a>&nbsp|&nbsp<a href="{% url 'total_week_driver' obj.driver obj.shift.week %}">Нед.</a></td>
                <td>{{ obj.car }}</td>
                <td><a href="{% url 'total_day_car' obj.car obj.shift %}">День</a>&nbsp|&nbsp<a href="{% url 'total_week_car' obj.car obj.shift.week %}">Нед.</a></td>
                <td>{{ obj.save_tax }}</td>
                <td>-{{ obj.tax_result }}</td>
                <td>{{ obj.extra_tax }}</td>
                <td>{{ obj.toll }}</td>
                <td>{{ obj.tip }}</td>
                <td>{{ obj.comment }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'start'%}" role="button" class="btn btn-info">Все недели</a>
    </div>
</div>

{% endblock %}