{% extends "base.html" %}

{% block title %} Детали заказа {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h3>Детали заказа {{ ride.number }} от {{ ride.shift }}:</h3>
        <hr>
        Сумма: {{ ride.price }}<br>
        Водитель: {{ ride.driver }}<br>
        Автомобиль: {{ ride.car }}<br>
        Наличные: {{ ride.cash }}<br>
        ЗСД: {{ ride.toll }}<br>
        Покуп.смены: {{ ride.save_tax }}<br>
        Чаевые: {{ ride.tip }}<br>
        Коммент: {{ ride.comment }}<br>
        <hr>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'ride_change' ride.shift.week ride.number ride.driver %}" role="button" class="btn btn-warning">Корректировка заказа</a>
        <a href="{% url 'x_ride' ride.number %}" role="button" class="btn btn-danger">Удалить заказ</a>
        <a href="{% url 'rides_all' %}" role="button" class="btn btn-info">Посмотреть все заказы</a>
    </div>
</div>

{% endblock %}