{% extends "base.html" %}

{% block title %} Все заказы {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h3>Смена: дата</h3>
        <table class="table">
            <tr>
                <th>Заказ: </th>
                <th>Сумма: </th>
                <th>Водитель: </th>
                <th>Автомобиль: </th>
                <th>Наличные: </th>
            </tr>
            {% for obj in rides %}
            <tr >
                <td><a href="{% url 'ride_detail' obj.number%}">{{ obj.number }}</a></td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.driver }}</td>
                <td>{{ obj.car }}</td>
                <td>{{ obj.cash }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'new_ride'%}">Добавить еще заказ</a><br>
        <a href="{% url 'total_day_car'%}">Итого за смену</a><br>
    </div>
</div>

{% endblock %}