{% extends "base.html" %}

{% block title %}Отчеты за неделю{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto mb-3">
        <h3>Все отчеты за неделю {{ week }}:</h3>
    </div>
    <div class="col-md-3 offset-md-1">
        <div class="card">
            <h3 class="card-header">Выбрать водителя:</h3>
            <div class="card-body">
                <form method="POST" action="" class="row g-3">
                    <div class="mb-1">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-info col-md-5">Выбрать</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <h3 class="card-header">Показатели за неделю <span style="color: darkblue; text-decoration: underline">{{ shift }}</span>:</h3>
            <div class="card-body">
                <table>
                    <tr>
                        <td>Водитель</td>
                        <td><span style="color: darkred; text-decoration: underline">{{ driver }}</span> </td>
                    </tr>
                     <tr>
                        <td>Зарплата</td>
                        <td>{{ salary }}</td>
                    </tr>
                    <tr>
                        <td>Чаевые</td>
                        <td>{{ tips }}</td>
                    </tr>
                    <tr>
                        <td>Траты на смену</td>
                        <td>{{ buy }}</td>
                    </tr>
                    <tr>
                        <td>Покуп. смены</td>
                        <td>{{ saved_tax }}</td>
                    </tr>
                    <tr>
                        <td>Доп.комиссия</td>
                        <td>{{ extra_tax }}</td>
                    </tr>
                     <tr>
                        <td>Наличные</td>
                        <td>{{ cash }}</td>
                    </tr>
                    <tr>
                        <td>ЗСД</td>
                        <td>{{ tolls }}</td>
                    </tr>
                    <tr>
                        <td>Мойки</td>
                        <td>{{ wash }}</td>
                    </tr>
                    <tr>
                        <td>Вода</td>
                        <td>{{ water }}</td>
                    </tr>
                    <tr>
                        <td>Прочее</td>
                        <td>{{ other }}</td>
                    </tr>
                    <tr>
                        <td>Часы</td>
                        <td>{{ hours }}</td>
                    </tr>
                    <tr>
                        <td>Пробег</td>
                        <td>{{ mileage }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto mb-3">
        <div>
            {% for key, value in weekly_reports %}
                {{ key }}
                <div>
                {% if value %}
                    {% for i in value %}
                    <a href="{% url 'total_day_driver' i.driver i.day %}" role="button" class="btn btn-success">{{ i.car }}<br>{{ i.driver }}<br> {{ i.income }} - {{ i.hours}} ч.</a>
                    {% endfor %}
                {% endif %}
                </div>
                <hr>

            {% endfor %}
        </div>
    </div>
    <div class="col-md-8 mx-auto">
        <a href="{% url 'new_ride'%}" role="button" class="btn btn-info">Добавить заказ</a>
        <a href="{% url 'rides_all'%}"role="button" class="btn btn-info" >Посмотреть все заказы</a>
        <a href="{% url 'week_reports' week %}" role="button" class="btn btn-info">Отчеты за неделю</a>
        <a href="{% url 'start'%}" role="button" class="btn btn-info">Все недели</a>
    </div>
</div>

{% endblock %}